<% include header %>

<div ng-app="hangman" ng-controller="MainCtrl">
  <h1 id="hangman!">Hangman!</h1>
  <hm-guess-options word="word"></hm-guess-options>
</div>

<script src="/javascripts/hangman/app.js" type="text/javascript" charset="utf-8"></script>
<script src="/javascripts/hangman/controllers.js" type="text/javascript" charset="utf-8"></script>
<script src="/javascripts/hangman/directives.js" type="text/javascript" charset="utf-8"></script>
<% include footer %>
  