<% include header %>

<div ng-app="hangman" ng-controller="MainCtrl">
  {{ foo }}
</div>

<script src="/javascripts/hangman/app.js" type="text/javascript" charset="utf-8"></script>
<script src="/javascripts/hangman/controllers.js" type="text/javascript" charset="utf-8"></script>
<% include footer %>
  