body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

/* Guess container styling */
.guessContainer {
  margin-left: auto;
  margin-right: auto;
  width: 400px;
  height: 40px;
}